body {
    background-color: #12121a;
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.container {
    max-width: 600px;
    text-align: center;
    border: 1px solid #222;
    padding: 30px;
    border-radius: 12px;
    background: #191924;
}

.caja-nombre {
    margin-top: 25px;
    text-align: center;
}

.caja-nombre label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #aaaaaa;
}

.caja-nombre input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #3498db;
    width: 80%;
    max-width: 280px;
    background-color: #12121a;
    color: white;
    text-align: center;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

.caja-nombre input:focus {
    border-color: #2ecc71;
}